//// Brand

$aqua: #01B2CC;

$mid-aqua: darken($aqua,10%);

$dark-aqua: darken($aqua,20%);



//// Modules / Body

$charcoal: #1A1919;

$white: #ffffff; // Yes, really.

$grey: #C3C3C3;

$shadow: #8A8A8A;