//:::::::::::::::::::::::::::::
// Style Guide Layout / Styles
//:::::::::::::::::::::::::::::

.guide {
  background-color: #fefefe; 
  line-height: 1.5em;
  font-size: 16px;
  border: none;
  color: #333; 
}

.guide body {
  margin: 0 2.5%;
  padding: 0 2.5%;
  border: none;
  font-size: 16px;
}

.guide .pattern {
  clear: both;
  overflow: hidden;
  border-bottom: 0.1em #959595 solid;
  padding: 0.5em 0;
}

.guide .pattern div {
  width: 100%;
}

.guide .pattern .panels {
  margin-top: 0.5em;
}

a {
  color: #01B2CC;
}

p.guidance {
  margin-bottom: 2em;
  font-size: 1.2em;
  max-width: 61em;
}

@media only all and (min-width: 41em) {
  .guide .pattern .display, 
  .guide .pattern .panels {
    width: 46%;
    float: left;
    margin-top: 0;
  }
  
  .guide .pattern .panels {
    margin-left: 8%;
  }
}

.header {
  margin: 0 0 3em 0;
  display: block;
}

.header h1 {
  text-transform: uppercase;
  font-weight: 500; //Medium
  font-size: 2.5em;
  line-height: 1em;
}

.header span {
  font-size: 1.3em;
  color: #bbb;
}

/* =======================
  Code Blocks
========================*/

.hljs,
.hljs * {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

.hljs {
  background-color: $charcoal !important;
  font-size: 1.1em;
  padding: 1em !important;
  max-height: 17em;
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    border: 0.2em solid $charcoal;
    background-color: rgba(255,255,255,.7);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,.5);
  }
}

.source pre,
.style pre {
  margin-top: -1.75em;
}

.panels ul li {
  border: 0.1em solid #eaeaea;
  &:focus {
    border: 0.1em solid #E1BC29;
  }
}

/* ==========================================================================
   Tabbed UI
   ========================================================================== */

/* Tabs
   ========================================================================== */
.js-tabs [role=tablist] {
	padding: 0;
}

.js-tabs [role=tab] {
	cursor: pointer;
	color: #000;
	background-color: #eaeaea;
	list-style: none;
	text-align: center;
	line-height: 2.75;
	margin: 0 0.25em 0.25em 0;
}

@media (min-width:19.25em) {
	.js-tabs [role=tab] {
		display: inline-block;
		width: 4em;
	}
}

@media (min-width:27.3125em) {
	.js-tabs [role=tab] {
		width: 7em;
	}
}

@media (min-width:37.1875em) {
	.js-tabs [role=tab] {
		width: 10em;
	}
}

.js-tabs [aria-selected=true] {
	color: #fff;
	background-color: $charcoal;
	border: 0.1em solid $charcoal;
	&:focus {
    border: 0.1em solid #E1BC29;
  }
}

/* Prevent FOUC */
.js-tabs .js-panel {
	display: none;
}

.js-tabs .js-panel.first {
  display: block;
}

.js-tabs .js-panel__title {
	display: none;
}