//// Franklin Gothic URW - Typekit Weights and Styles available in the STP Kit for reference;

/* Light 
  font-weight: 300;
  font-style: normal;

// Book 
  font-weight: 400;
  font-style: normal;

// Book Italic 
  font-weight: 400;
  font-style: italic;

// Medium 
  font-weight: 500;
  font-style: normal;

// Demi 
  font-weight: 700;
  font-style: normal;

// Heavy 
  font-weight: 900;
  font-style: normal;
  
font-family: "franklin-gothic-urw";

//////// */

* {
  font-family: "franklin-gothic-urw", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}