// StyleGuide Imports (dependencies for this pattern): 
@import '_4-colours.scss';

.feedback {
	background-color: $feedback;
	border-bottom: 0.2em solid darken($feedback,8%);
	font-weight: 500;
	padding: 0.8em 1.4em;
	margin: 0 0 1.5em 0;
}