.lt-ie9 .heading,
.lt-ie9 h1.guidance,
.lt-ie9 h2.guidance,
.lt-ie9 h3.guidance {
  font-weight: 700;
}

.lt-ie8 body {
  width: 41em;
}

.lt-ie8 .header__logo {
  display: block;
}

.lt-ie8 ol {
  list-style-type: decimal;
}

.lt-ie8 ol.pagination li {
  display: inline;
}